In [237]:
import molar

In [238]:
PASSWORD_ADMIN = "admin"
USER_PASSWORD = "pass"
# mail used to install molar locally
MOLAR_EMAIL_ADMIN = "ticona.belu@gmail.com"
# url used to install molar locally
URL_SERVER = "http://localhost:8000"

In [274]:
from molar import ClientConfig, Client

admin_cfg = ClientConfig(server_url= URL_SERVER,
                         email=MOLAR_EMAIL_ADMIN,
                         password=PASSWORD_ADMIN,
                         database_name="main")

admin_client = Client(admin_cfg)

admin_client.test_token()

{'email': 'ticona.belu@gmail.com',
 'is_superuser': True,
 'is_active': True,
 'full_name': 'admin',
 'created_on': '2021-10-24T00:33:21.920164',
 'user_id': 1}

In [223]:
admin_stober_cfg = ClientConfig(server_url="http://localhost:8000",
                        email="guillermo@dqi.uba.ar",
                        password=USER_PASSWORD,
                        database_name="stober_db")

admin_stober = Client(admin_stober_cfg)

In [224]:
admin_stober.database_creation_request(
    superuser_fullname="Stober Admin DQI",
    alembic_revisions=["stober_db_creation@head"]
)

[02:31:21] INFO     Database request created                                    ]8;id=568077;file:///home/belu/.local/share/virtualenvs/acceleration-consortium-hackaton-VkvLMKVg/lib/python3.7/site-packages/molar/client.py\client.py]8;;\:107

{'msg': 'Database request created'}

In [225]:
admin_client.get_database_requests()

,database_name,superuser_email,alembic_revisions,id,superuser_fullname,superuser_password,is_approved
0,stober_db,guillermo@dqi.uba.ar,[test@head],28,Stober Admin DQI,$2b$12$2.ZZgr5wbo0rle7sXb9Ahurd0O/DKIiHgaqc9lz...,False

In [226]:
admin_client.approve_database('stober_db')

[02:31:28] INFO     Database stober_db created.                                 ]8;id=422418;file:///home/belu/.local/share/virtualenvs/acceleration-consortium-hackaton-VkvLMKVg/lib/python3.7/site-packages/molar/client.py\client.py]8;;\:107

{'msg': 'Database stober_db created.'}

In [227]:
admin_client.get_database_requests()

,database_name,superuser_email,alembic_revisions,id,superuser_fullname,superuser_password,is_approved
0,stober_db,guillermo@dqi.uba.ar,[test@head],28,Stober Admin DQI,$2b$12$2.ZZgr5wbo0rle7sXb9Ahurd0O/DKIiHgaqc9lz...,True

In [264]:
admin_stober.get_database_information('stober_db')

,table_name,column_name,type,subtype,is_nullable,constraint_name,containt_type,references
0,Characterization,id_characterization,uuid,uuid,NO,Characterization_pkey,None,Characterization.id_characterization
1,Characterization,standard_deviation,double precision,float8,YES,None,None,None
2,Characterization,technique,character varying,varchar,YES,None,None,None
3,Characterization,value,double precision,float8,YES,None,None,None
4,Compound,CAS,character varying,varchar,YES,None,None,None
5,Compound,id_compound,uuid,uuid,NO,Compound_pkey,None,Compound.id_compound
6,Compound,name,character varying,varchar,YES,None,None,None
7,Compound,purity,double precision,float8,YES,None,None,None
8,Data_source,id_data_source,uuid,uuid,NO,Data_source_pkey,None,Data_source.id_data_source
9,Data_source,reference,character varying,varchar,YES,None,None,None
10,Data_source,secondary_data,boolean,bool,YES,None,None,None
11,Data_source,year,integer,int4,YES,None,None,None
12,Experiment,date,date,date,YES,None,None,None
13,Experiment,id_experiment,uuid,uuid,NO,Experiment_pkey,None,Experiment.id_experiment
14,Experiment,id_operator,uuid,uuid,YES,Experiment_id_operator_fkey,None,Operator.id_operator
15,Experiment,id_synthesis,uuid,uuid,YES,Experiment_id_synthesis_fkey,None,Synthesis.id_synthesis
16,Operator,id_operator,uuid,uuid,NO,Operator_pkey,None,Operator.id_operator
17,Operator,mail,character varying,varchar,NO,None,None,None
18,Operator,name,character varying,varchar,NO,None,None,None
19,Product_Characterization,id_characterization,uuid,uuid,YES,Product_Characterization_id_characterization_fkey,None,Characterization.id_characterization
20,Product_Characterization,id_product_characterization,uuid,uuid,NO,Product_Characterization_pkey,None,Product_Characterization.id_product_characteri...
21,Product_Characterization,id_synthesis,uuid,uuid,YES,Product_Characterization_id_synthesis_fkey,None,Synthesis.id_synthesis
22,Reagent,id_characterization,uuid,uuid,NO,Reagent_pkey,None,Reagent.id_characterization
23,Reagent,id_compound,uuid,uuid,YES,Reagent_id_compound_fkey,None,Compound.id_compound
24,Reagent,standard_deviation,double precision,float8,YES,None,None,None
25,Reagent,technique,character varying,varchar,YES,None,None,None
26,Reagent,value,double precision,float8,YES,None,None,None
27,Synthesis,agitation_speed,character varying,varchar,YES,None,None,None
28,Synthesis,id_data_source,uuid,uuid,YES,Synthesis_id_data_source_fkey,None,Data_source.id_data_source
29,Synthesis,id_synthesis,uuid,uuid,NO,Synthesis_pkey,None,Synthesis.id_synthesis
30,Synthesis,residence_time,double precision,float8,YES,None,None,None
31,Synthesis,temperature,double precision,float8,YES,None,None,None
32,Synthesis,volume_reactor,double precision,float8,YES,None,None,None
33,Synthesis_Compound,concentration,double precision,float8,YES,None,None,None
34,Synthesis_Compound,id_compound,uuid,uuid,YES,Synthesis_Compound_id_compound_fkey,None,Compound.id_compound
35,Synthesis_Compound,id_synthesis,uuid,uuid,YES,Synthesis_Compound_id_synthesis_fkey,None,Synthesis.id_synthesis
36,Synthesis_Compound,id_synthesis_compound,uuid,uuid,NO,Synthesis_Compound_pkey,None,Synthesis_Compound.id_synthesis_compound

In [241]:
#admin_client.remove_database('stober_db')

In [273]:
user_client.get_alembic_revisions()

,revision,log_entry,branch_labels
0,0bc99b5f8fcc,Rev: 0bc99b5f8fcc (head)\nParent: f31c7d486f1f...,"[eventsourcing, compchem]"
1,311e0c050706,Rev: 311e0c050706 (head)\nParent: bf3c5d811155...,[molar-main]
2,bd3280dd67dc,Rev: bd3280dd67dc (head)\nParent: f31c7d486f1f...,"[stober_db_creation, eventsourcing]"

In [275]:
data = admin_stober.create_entry(
    type="Operator",
    data={
        "id_operator":2,
    }
)
data

MolarBackendError: The client got an unexpected answer from the backend:
403: Could not validate credentials

In [276]:
import sqlalchemy as sa

In [277]:
eng = sa.create_engine("mysql://belu:belu@localhost/main")

ModuleNotFoundError: No module named 'MySQLdb'

In [254]:
admin_stober.view_entries("stober_db")

Empty DataFrame
Columns: []
Index: []

In [257]:
es = admin_stober.view_entries()
es

Empty DataFrame
Columns: []
Index: []